@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    /* color variables */
    --primary-blue: #006ff0;
    --secondary-orange: #ff9900;
    --gray-dark: #777;
    --white: #fff;
    --white-body: #f9fafb;
    --white-border: #f0f0f0;
    --color-success: #3ecc71;
    --color-error: #e74c3c;
}
/* reset the browser default */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/* end reset */
body {
    background-color: var(--white-body);
    font-family: 'Space Mono', 'serif';
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    background-color: var(--white);
    border-radius: 0.313rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.3);
    width: 25rem;
}
h2 {
    text-align: center;
    margin: 0 0 1.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-blue);
}
.form {
    padding: 1.875rem 2.5rem;
}
.form-control {
    margin-bottom: 0.625rem;
    padding-bottom: 1.25rem;
    position: relative;
}
.form-control label {
    color: var(--gray-dark);
    display: block;
    margin-bottom: 0.313rem;
}
.form-control input {
    border: 0.125rem solid var(--white-border);
    border-radius: 0.25rem;
    padding: 0.625rem;
    width: 100%;
    font-size: 0.875rem;
    display: block;
    font-family: inherit;
}
.form-control input:focus {
    outline: 0;
    /* border-color: #777; */
    border-color: var(--secondary-orange);
}
.form-control small {
    color: var(--color-error);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form-control.success input {
    border-color: var(--color-success);
}
.form-control.error input {
    border-color: var(--color-error);
}
.form-control.error small {
    visibility: visible;
}
.form button {
    cursor: pointer;
    background-color: var(--primary-blue);
    border: 0.125rem solid var(--primary-blue);
    border-radius: 0.25rem;
    color: var(--white);
    display: block;
    width: 100%;
    font-size: 1rem;
    margin-top: 1.25rem;
    padding: 0.675rem;
    font-family: inherit;
}
